<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat Jan 09 2021 09:46:40 GMT+0000 (Coordinated Universal Time) -->

{% include "headerdefault.html" %}

<!-- Header Above  -->




        <div class="background completed-builds">
            <div class="div-block-3 completed-builds _2">
                <h1 class="heading build-guides">
                    <strong class="bold-text-3 multimedia">STREAMING</strong>
                </h1>
                <div class="div-block-10">
                    <div class="w-layout-grid grid-4">
                      <a href= "/streaming_tier_high">
                        <div class="grid-build-box">
                            <div class="div-block-11">
                                <h1 class="heading build-guides grid-box">
                                    <strong class="bold-text-3 grid-box-build">HIGH TIER</strong>
                                </h1>
                            </div>
                            <img src="{{ url_for('static', filename='Images/Copmuters.png')}}" loading="lazy" alt="" class="image-10"/>
                        </div>
                      </a>
                      <a href= "/streaming_tier_mid">
                        <div class="grid-build-box">
                            <div class="div-block-11">
                                <h1 class="heading build-guides grid-box">
                                    <strong class="bold-text-3 grid-box-build">MID TIER</strong>
                                </h1>
                            </div>
                            <img src="{{ url_for('static', filename='Images/Copmuters.png')}}" loading="lazy" alt="" class="image-10"/>
                        </div>
                      </a>
                      <a href= "/streaming_tier_low">
                        <div class="grid-build-box">
                            <div class="div-block-11">
                                <h1 class="heading build-guides grid-box">
                                    <strong class="bold-text-3 grid-box-build">LOW TIER</strong>
                                </h1>
                            </div>
                            <img src="{{ url_for('static', filename='Images/Copmuters.png')}}" loading="lazy" alt="" class="image-10"/>
                        </div>
                      </a>
                      <a href= "/product_page">
                        <div class="build-button">
                            <div class="miltimedia-button-price">₱172,600</div>
                            <img src="{{ url_for('static', filename='Images/2 arrows right.png')}}" loading="lazy"  alt="" class="image-9"/>
                        </div>
                      </a>
                      <a href= "/product_page">
                        <div class="build-button">
                            <div class="miltimedia-button-price">₱75,600</div>
                            <img src="{{ url_for('static', filename='Images/2 arrows right.png')}}" loading="lazy"  alt="" class="image-9"/>
                        </div>
                      </a>
                      <a href= "/product_page">
                        <div class="build-button">
                            <div class="miltimedia-button-price">₱35,600</div>
                            <img src="{{ url_for('static', filename='Images/2 arrows right.png')}}" loading="lazy"  alt="" class="image-9"/>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
        </div>




  <!-- Footer -->




{% include "footer.html" %}
