<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat Jan 09 2021 09:46:40 GMT+0000 (Coordinated Universal Time) -->
{% include "headerdefault.html" %}


<!-- Header Above  -->




        <div class="background completed-builds">
            <div class="div-block-3 completed-builds">
                <h1 class="heading build-guides">
                    <strong class="bold-text-3 completed-builds">COMPLETED BUILDS</strong>
                </h1>
                <div class="text-block-5">GET THE SETUP THAT &#x27;S RIGHT FOR YOU</div>
                <div class="div-block-10 completed-builds">
                    <div class="w-layout-grid grid-4">
                      <a href= "/completed_builds_gaming">
                        <div class="grid-build-box">
                            <div class="div-block-11">
                                <h1 class="heading build-guides grid-box">
                                    <strong class="bold-text-3 grid-box-build">GAMING</strong>
                                </h1>
                                <img src="{{ url_for('static', filename='Images/Right Arrow.png')}}" loading="lazy" width="17" alt="" class="image-4"/>
                            </div>
                            <img src="{{ url_for('static', filename='Images/Copmuter 1.png')}}" loading="lazy" alt="" class="image-5"/>
                        </div>
                      </a>
                      <a href= "/completed_builds_multimedia">
                        <div class="grid-build-box">
                            <div class="div-block-11">
                                <h1 class="heading build-guides grid-box">
                                    <strong class="bold-text-3 grid-box-build">MULTIMEDIA</strong>
                                </h1>
                                <img src="{{ url_for('static', filename='Images/Right Arrow.png')}}" loading="lazy" width="17" alt="" class="image-4"/>
                            </div>
                            <img src="{{ url_for('static', filename='Images/Computer 2.png')}}" loading="lazy" alt="" class="image-6"/>
                        </div>
                      </a>
                      <a href= "/completed_builds_streaming">
                        <div class="grid-build-box">
                            <div class="div-block-11">
                                <h1 class="heading build-guides grid-box">
                                    <strong class="bold-text-3 grid-box-build">STREAMING</strong>
                                </h1>
                                <img src="{{ url_for('static', filename='Images/Right Arrow.png')}}" loading="lazy" width="17" alt="" class="image-4"/>
                            </div>
                            <img src="{{ url_for('static', filename='Images/Copmuter 3.png')}}" loading="lazy" alt="" class="image-7"/>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
        </div>




  <!-- Footer -->




{% include "footer.html" %}
