<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat Jan 09 2021 09:46:40 GMT+0000 (Coordinated Universal Time) -->
{% include "headerdefault.html" %}

<!-- Header Above  -->




        <div class="background completed-builds">
          <div class="div-block-39">
            <div class="div-block-3 completed-builds _2 product-screen">
                <div class="div-block-14">
                    <h1 class="heading build-guides">
                        <strong class="bold-text-3">GAMING</strong>
                    </h1>
                    <h1 class="heading build-guides product-selected">
                        <strong class="bold-text-3 product-selected">\ </strong>
                        <strong>LOW TIER</strong>
                    </h1>
                </div>
                <div class="div-block-15">
                    <div>
                        <img src="Images/compressed_pc.png" loading="lazy" sizes="(max-width: 479px) 100vw, 716px" srcset="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8361f2f7d9063a5b5859b_Copmuters%20compressed-p-500.png 500w, https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8361f2f7d9063a5b5859b_Copmuters%20compressed.png 795w" alt="" class="image-11"/>
                    </div>
                    <div>
                        <h1 class="heading build-guides product-selected caption">
                            <strong class="bold-text-3 product-selected">
                                THE PC FOR GAMING <br/>IN ANOTHER UNIVERSE
                            </strong>
                        </h1>
                        <div class="div-block-16">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                            <div class="text-block-7">This is some text inside of a div block.</div>
                        </div>
                        <div class="div-block-16">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                            <div class="text-block-7">This is some text inside of a div block.</div>
                        </div>
                        <div class="div-block-16">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                            <div class="text-block-7">This is some text inside of a div block.</div>
                        </div>
                        <div class="div-block-16">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                            <div class="text-block-7">This is some text inside of a div block.</div>
                        </div>
                        <div class="div-block-18">
                            <div class="text-block-8 specs-and-details">See Specs and Details</div>
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff81c7c4c03654ed2eb96a3_arrow%20down.png" loading="lazy" width="73" alt="" class="image-13"/>
                        </div>
                        <div class="div-block-17">
                            <div class="text-block-8">₱35,600</div>
                            <div>
                                <a href="#" class="button-3 questions-button addtocart w-button">ADD TO CART</a>
                                <a href="#" class="button-3 questions-button addtocart buy-now w-button">BUY NOW</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="div-block-19">
                  <div class="div-block-20">
                      <div class="text-block-9 descriptionheading">SPECIFICATIONS</div>
                      <div class="text-block-9 descriptionsubheading">SUBHEADING DESCRIPTION</div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                  </div>
                  <div class="div-block-20">
                      <div class="text-block-9 descriptionheading">INCLUSIONS</div>
                      <div class="text-block-9 descriptionsubheading">SUBHEADING DESCRIPTION</div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                  </div>
              </div>
          </div>
        </div>




  <!-- Footer -->




{% include "footer.html" %}
