<!DOCTYPE html>
{% include "headerdefault.html" %}

<!-- Header Above  -->




        <div class="background completed-builds">
          <div class="div-block-39">
            <div class="div-block-3 completed-builds _2 product-screen">
                <div class="div-block-14">
                    <h1 class="heading build-guides">
                        <strong class="bold-text-3">HDD</strong>
                    </h1>
                    <h1 class="heading build-guides product-selected">
                        <strong class="bold-text-3 product-selected">\ </strong>
                        <strong>2tb Hard Drive</strong>
                    </h1>
                </div>
                <div class="div-block-15">
                    <div>
                      <!-- <img src="Images/compressed_pc.png" loading="lazy" sizes="(max-width: 479px) 100vw, 716px" srcset="Images/compressed_pc.png" alt="" class="image-11"/> -->
                      <img src="{{url_for('static', filename='Images/hdd_example3.png')}}" loading="lazy" sizes="(max-width: 479px) 100vw, 716px" srcset="{{url_for('static', filename='Images/hdd_example3.png')}}" alt="" class"image-11"/>
                      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css')}}"> -->

                    </div>
                    <div>
                        <h1 class="heading build-guides product-selected caption">
                            <strong class="bold-text-3 product-selected">
                                HDD<br/> PLACEHOLDER
                            </strong>
                        </h1>
                        <div class="div-block-16">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                            <div class="text-block-7">This is some text inside of a div block.</div>
                        </div>
                        <div class="div-block-16">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                            <div class="text-block-7">This is some text inside of a div block.</div>
                        </div>
                        <div class="div-block-16">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                            <div class="text-block-7">This is some text inside of a div block.</div>
                        </div>
                        <div class="div-block-16">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                            <div class="text-block-7">This is some text inside of a div block.</div>
                        </div>
                        <div class="div-block-18">
                            <div class="text-block-8 specs-and-details">See Specs and Details</div>
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff81c7c4c03654ed2eb96a3_arrow%20down.png" loading="lazy" width="73" alt="" class="image-13"/>
                        </div>
                        <div class="div-block-17">
                            <div class="text-block-8">₱2,500</div>
                            <div>
                                <a href="/addtocart?code={{ 6000 }}" class="button-3 questions-button addtocart w-button">ADD TO CART</a>
                                <a href="#" class="button-3 questions-button addtocart buy-now w-button">BUY NOW</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="div-block-19">
                  <div class="div-block-20">
                      <div class="text-block-9 descriptionheading">SPECIFICATIONS</div>
                      <div class="text-block-9 descriptionsubheading">SUBHEADING DESCRIPTION</div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                  </div>
                  <div class="div-block-20">
                      <div class="text-block-9 descriptionheading">INCLUSIONS</div>
                      <div class="text-block-9 descriptionsubheading">SUBHEADING DESCRIPTION</div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                      <div class="div-block-16 desctext">
                          <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8384b2f7d906ff6b5900d_circle.png" loading="lazy" alt="" class="image-12"/>
                          <div class="text-block-7">This is some text inside of a div block.</div>
                      </div>
                  </div>
              </div>
          </div>
        </div>




  <!-- Footer -->




{% include "footer.html" %}
