<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat Jan 09 2021 09:46:40 GMT+0000 (Coordinated Universal Time) -->
{% include "headerdefault.html" %}


<!-- Header Above  -->




        <div class="background main">
            <div class="div-block-44">
                <div class="div-block-3">

                    <h1 class="heading">
                        WE MAKE THE PC YOU<br/>
                        <strong>WANT</strong>
                        and <strong>NEED</strong>
                    </h1>
                </div>
                <div class="div-block-4 pc-part">
                    <div class="div-block-5">
                        <div class="hero-text">
                            <h1 class="heading-2">Don’t know what you’re looking for?</h1>
                            <div class="text-block">
                                TRY OUR <br/>
                                <strong class="bold-text">PC GENERATOR</strong>
                            </div>
                            <a href="#" class="button learn-more w-button">LEARN MORE</a>
                            <a href="/pc_generate_questionnare" class="button try-now w-button">TRY NOW</a>
                        </div>
                    </div>
                </div>
                <div class="div-block-4 youtube-video">
                    <h1 class="heading">
                        WHAT IS THE RIGHT PC?<strong></strong>
                    </h1>
                    <div class="w-embed-youtubevideo youtube"></div>
                </div>
                <div class="div-block-4 why-get-from-us">
                    <div class="text-block why-get-from-us">WHY GET FROM US?</div>
                    <div class="text-block why-get-from-us sub-text">Know why these youtubers, and gaming websites have started using our platform.</div>
                    <div class="w-layout-grid grid-3">
                        <div class="div-block-6">
                            <img src="{{ url_for('static', filename='Images/Article Image.png')}}" loading="lazy">
                            <div class="text-block-2 why-get-desc">
                                Know why these youtubers, and gaming websites <br/>have started using our platform. From the Div. . . . .
                            </div>
                            <a href="#" class="button try-now-hero w-button">LEARN MORE</a>
                        </div>
                        <div class="div-block-6">
                            <img src="{{ url_for('static', filename='Images/Article Image.png')}}" loading="lazy">
                            <img src="Images/Article Image.png" loading="lazy" alt=""/>
                            <div class="text-block-2 why-get-desc">
                                Know why these youtubers, and gaming websites <br/>have started using our platform. From the Div. . . . .
                            </div>
                            <a href="#" class="button try-now-hero w-button">LEARN MORE</a>
                        </div>
                        <div class="div-block-6">
                            <img src="{{ url_for('static', filename='Images/Article Image.png')}}" loading="lazy">
                            <div class="text-block-2 why-get-desc">
                                Know why these youtubers, and gaming websites <br/>have started using our platform. From the Div. . . . .
                            </div>
                            <a href="#" class="button try-now-hero w-button">LEARN MORE</a>
                        </div>
                        <div class="div-block-6">
                            <img src="{{ url_for('static', filename='Images/Article Image.png')}}" loading="lazy">
                            <div class="text-block-2 why-get-desc">
                                Know why these youtubers, and gaming websites <br/>have started using our platform. From the Div. . . . .
                            </div>
                            <a href="#" class="button try-now-hero w-button">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




  <!-- Footer -->




{% include "footer.html" %}
