<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat Jan 09 2021 09:46:40 GMT+0000 (Coordinated Universal Time) -->
{% include "header.html" %}



<!-- Header Above  -->




        <div class="background main">
            <div class="div-block-4 pc-part sign-up">
                <div class="div-block-5">
                    <div class="hero-text">
                        <h1 class="heading-2 community">
                            JOIN THE <br/>COMMUNITY NOW
                        </h1>
                        <div class="text-block promos">
                            Exclusive Discounts<br/>
                            and Prices<strong class="bold-text"></strong>
                        </div>
                    </div>
                </div>
                <div class="div-block-45">
                    <div>
                        <div>  <br/> </div>
                    </div>
                    <div>
                        <div class="text-block-17">Welcome Back!</div>
                    </div>
                    <div class="form-block-2 w-form">
                        <form name="email-form-2" data-name="Email Form 2" class="form" action="/auth" method="POST">
                            <label for="name" class="field-label-2">E-Mail or Username</label>
                            <input type="text" class="text-field user-password w-input" maxlength="256" name="username" data-name="Name" placeholder="e.g. ryanjethro@gmail.com" id="name">
                            <label for="name-2" class="field-label-3">Password</label>
                            <input type="password" class="text-field user-password w-input" maxlength="256" name="password" data-name="Name 2" placeholder="e.g. 123asdfboas.123@" id="name-2"/>
                            <input type="submit" value="Login" data-wait="Please wait..." class="submit-button-2 w-button"/>
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                    <div class="div-block-46">
                        <div class="text-block-15">Not yet a member? </div>
                        <div class="text-block-15 loginhere">Sign Up here </div>
                    </div>
                </div>
            </div>
        </div>





  <!-- Footer -->




{% include "footer.html" %}
