<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat Jan 09 2021 09:46:40 GMT+0000 (Coordinated Universal Time) -->
{% include "headerdefault.html" %}



<!-- Header Above  -->




        <div class="background main">
            <div class="div-block-41">
                <div class="div-block-3 optimal-build">
                    <h1 class="heading">
                        To get the optimal PC for you, we’re <br/>gonna need a few minutes of your time...
                    </h1>
                    <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff81c7c4c03654ed2eb96a3_arrow%20down.png" loading="lazy" alt="" class="image-8"/>
                </div>
                <div class="div-block-3 optimal-build done choices">
                    <div class="div-block-13">
                        <h1 class="heading questions">1. What do you need it for?</h1>
                        <div class="div-block-12">
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                        </div>
                    </div>
                    <div class="div-block-13">
                        <h1 class="heading questions">1. What do you need it for?</h1>
                        <div class="div-block-12">
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                        </div>
                    </div>
                    <div class="div-block-13">
                        <h1 class="heading questions">1. What do you need it for?</h1>
                        <div class="div-block-12">
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                        </div>
                    </div>
                    <div class="div-block-13">
                        <h1 class="heading questions">1. What do you need it for?</h1>
                        <div class="div-block-12">
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                        </div>
                    </div>
                    <div class="div-block-13">
                        <h1 class="heading questions">1. What do you need it for?</h1>
                        <div class="div-block-12">
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                        </div>
                    </div>
                    <div class="div-block-13">
                        <h1 class="heading questions">1. What do you need it for?</h1>
                        <div class="div-block-12">
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                        </div>
                    </div>
                    <div class="div-block-13">
                        <h1 class="heading questions">1. What do you need it for?</h1>
                        <div class="div-block-12">
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                            <a href="#" class="questions-button w-button">Button Text</a>
                        </div>
                    </div>
                    <div class="div-block-13 generate">
                        <div class="div-block-12 generate">
                            <a href="pc_generate_finished.html" class="questions-button generate w-button">GENERATE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>





  <!-- Footer -->




{% include "footer.html" %}
