<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat Jan 09 2021 09:46:40 GMT+0000 (Coordinated Universal Time) -->
{% include "headerdefault.html" %}

<!-- Header Above  -->




        <div class="background main">
            <div class="div-block-40">
                <div class="div-block-3 optimal-build optimal-build-done">
                    <h1 class="heading">The Optimal Build for your PC is...</h1>
                    <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff81c7c4c03654ed2eb96a3_arrow%20down.png" loading="lazy" alt="" class="image-8"/>
                </div>
                <div class="div-block-3 optimal-build done done">
                    <div class="div-block-13">
                        <div class="div-block-12 header">
                            <div class="categories">
                                <div>PART</div>
                            </div>
                            <div class="categories">
                                <div>NAME</div>
                            </div>
                            <div class="categories">
                                <div>AVAILABILITY</div>
                            </div>
                            <div class="categories">
                                <div>PRICE</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-block-13 parts">
                        <div class="div-block-21">
                            <div class="text-block-11">VIEW</div>
                        </div>
                        <div class="div-block-12 header parts">
                            <div class="categories parts">
                                <div class="text-block-10">PART</div>
                            </div>
                            <div class="categories parts">
                                <div>NAME</div>
                            </div>
                            <div class="categories parts">
                                <div>AVAILABILITY</div>
                            </div>
                            <div class="categories parts">
                                <div>PRICE</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-block-13 parts">
                        <div class="div-block-21">
                            <div class="text-block-11">VIEW</div>
                        </div>
                        <div class="div-block-12 header parts">
                            <div class="categories parts">
                                <div class="text-block-10">PART</div>
                            </div>
                            <div class="categories parts">
                                <div>NAME</div>
                            </div>
                            <div class="categories parts">
                                <div>AVAILABILITY</div>
                            </div>
                            <div class="categories parts">
                                <div>PRICE</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-block-13 parts">
                        <div class="div-block-21">
                            <div class="text-block-11">VIEW</div>
                        </div>
                        <div class="div-block-12 header parts">
                            <div class="categories parts">
                                <div class="text-block-10">PART</div>
                            </div>
                            <div class="categories parts">
                                <div>NAME</div>
                            </div>
                            <div class="categories parts">
                                <div>AVAILABILITY</div>
                            </div>
                            <div class="categories parts">
                                <div>PRICE</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-block-13 parts">
                        <div class="div-block-21">
                            <div class="text-block-11">VIEW</div>
                        </div>
                        <div class="div-block-12 header parts">
                            <div class="categories parts">
                                <div class="text-block-10">PART</div>
                            </div>
                            <div class="categories parts">
                                <div>NAME</div>
                            </div>
                            <div class="categories parts">
                                <div>AVAILABILITY</div>
                            </div>
                            <div class="categories parts">
                                <div>PRICE</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-block-13 parts">
                        <div class="div-block-21">
                            <div class="text-block-11">VIEW</div>
                        </div>
                        <div class="div-block-12 header parts">
                            <div class="categories parts">
                                <div class="text-block-10">PART</div>
                            </div>
                            <div class="categories parts">
                                <div>NAME</div>
                            </div>
                            <div class="categories parts">
                                <div>AVAILABILITY</div>
                            </div>
                            <div class="categories parts">
                                <div>PRICE</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-block-13 generate">
                        <div class="div-block-12 generate">
                            <a href="#" class="questions-button generate w-button">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




  <!-- Footer -->




{% include "footer.html" %}
