<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat Jan 09 2021 09:46:40 GMT+0000 (Coordinated Universal Time) -->
{% include "headerdefault.html" %}


<!-- Header Above  -->




        <div class="background completed-builds">
            <div class="div-block-47">
                <div class="div-block-3 completed-builds products">
                    <h1 class="heading build-guides">
                        <strong class="bold-text-3 products">PRODUCTS</strong>
                    </h1>
                    <div class="text-block-5">WHATEVER YOU NEED, YOU &#x27;LL FIND IT HERE</div>
                </div>
                <div class="div-block-37">
                    <form action="/search" class="search w-form">
                        <input type="search" class="search-input w-input" autofocus="true" maxlength="256" name="query" placeholder="You can search here!" id="search" required=""/>
                        <input type="submit" value="Search" class="search-button w-button"/>
                        <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8c609d5a5670d449c8840_Search.png" loading="lazy" alt="" class="image-14"/>
                    </form>
                    <div class="div-block-25">
                        <div class="categories-button">
                            <div class="text-block-12">Motherboard</div>
                        </div>
                        <div class="categories-button">
                            <div class="text-block-12">PC CASE</div>
                        </div>
                        <div class="categories-button">
                            <div class="text-block-12">Processor</div>
                        </div>
                        <div class="categories-button">
                            <div class="text-block-12">CPU Cooling</div>
                        </div>
                        <div class="categories-button">
                            <div class="text-block-12">Memory</div>
                        </div>
                        <div class="categories-button">
                            <div class="text-block-12">Chassis Fan</div>
                        </div>
                    </div>
                    <div class="div-block-25">
                        <div class="categories-button">
                            <div class="text-block-12">Graphics Card</div>
                        </div>
                        <div class="categories-button">
                            <div class="text-block-12">Hard Disk</div>
                        </div>
                        <div class="categories-button">
                            <div class="text-block-12">Solid State Drive</div>
                        </div>
                        <div class="categories-button">
                            <div class="text-block-12">Power Supply</div>
                        </div>
                        <div class="categories-button">
                            <div class="text-block-12">ETC...</div>
                        </div>
                    </div>
                </div>
                <div class="div-block-26">
                    <div class="div-block-27">
                        <div class="div-block-29">
                            <div class="text-block-13">VIEW AS</div>
                        </div>
                        <div class="div-block-30">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8cda105a29efe432fa8d1_3x3.png" loading="lazy" alt=""/>
                        </div>
                        <div class="div-block-31">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8cda166ed90674df43f1b_List.png" loading="lazy" alt="" class="image-15"/>
                        </div>
                    </div>
                    <div class="div-block-28">
                        <div class="div-block-32">
                            <div class="text-block-14">Price, low to high</div>
                        </div>
                        <div class="div-block-33">
                            <img src="https://uploads-ssl.webflow.com/5feca59974e94d75ad7d74d3/5ff8ce545e2c109147ae02b0_arrow%20down%20one.png" loading="lazy" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="div-block-38">
                    <div class="div-block-34">
                        <div>
                            <img src="Images/Motherboard.jpg" loading="lazy" alt="" class="image-16"/>
                        </div>
                        <div class="div-block-35">
                            <div>Biostar A320MH Socket Am4 Ddr4 Motherboard</div>
                            <div>BIOSTAR</div>
                            <div>
                                <br/>
                                Brand BIOSTAR Model A320MH PRO CPU Socket Type AM4 CPU Type AMD A-series APU / Ryzen<br/>
                                CPU / NPU for Socket AM4 Maximum CPU TDP (Thermal Design Power): 95W Number of Memory<br/>Slots 2×288pin Memory Standard DDR4 2667/ 2400/...
                            </div>
                        </div>
                        <div class="div-block-36">
                            <div>₱1,696</div>
                        </div>
                    </div>
                    <div class="div-block-34">
                        <div>
                            <img src="Images/Motherboard.jpg" loading="lazy" alt="" class="image-16"/>
                        </div>
                        <div class="div-block-35">
                            <div>Biostar A320MH Socket Am4 Ddr4 Motherboard</div>
                            <div>BIOSTAR</div>
                            <div>
                                <br/>
                                Brand BIOSTAR Model A320MH PRO CPU Socket Type AM4 CPU Type AMD A-series APU / Ryzen<br/>
                                CPU / NPU for Socket AM4 Maximum CPU TDP (Thermal Design Power): 95W Number of Memory<br/>Slots 2×288pin Memory Standard DDR4 2667/ 2400/...
                            </div>
                        </div>
                        <div class="div-block-36">
                            <div>₱1,696</div>
                        </div>
                    </div>
                    <div class="div-block-34">
                        <div>
                            <img src="Images/Motherboard.jpg" loading="lazy" alt="" class="image-16"/>
                        </div>
                        <div class="div-block-35">
                            <div>Biostar A320MH Socket Am4 Ddr4 Motherboard</div>
                            <div>BIOSTAR</div>
                            <div>
                                <br/>
                                Brand BIOSTAR Model A320MH PRO CPU Socket Type AM4 CPU Type AMD A-series APU / Ryzen<br/>
                                CPU / NPU for Socket AM4 Maximum CPU TDP (Thermal Design Power): 95W Number of Memory<br/>Slots 2×288pin Memory Standard DDR4 2667/ 2400/...
                            </div>
                        </div>
                        <div class="div-block-36">
                            <div>₱1,696</div>
                        </div>
                    </div>
                    <div class="div-block-34">
                        <div>
                            <img src="Images/Motherboard.jpg" loading="lazy" alt="" class="image-16"/>
                        </div>
                        <div class="div-block-35">
                            <div>Biostar A320MH Socket Am4 Ddr4 Motherboard</div>
                            <div>BIOSTAR</div>
                            <div>
                                <br/>
                                Brand BIOSTAR Model A320MH PRO CPU Socket Type AM4 CPU Type AMD A-series APU / Ryzen<br/>
                                CPU / NPU for Socket AM4 Maximum CPU TDP (Thermal Design Power): 95W Number of Memory<br/>Slots 2×288pin Memory Standard DDR4 2667/ 2400/...
                            </div>
                        </div>
                        <div class="div-block-36">
                            <div>₱1,696</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




  <!-- Footer -->




{% include "footer.html" %}
